@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  
}

/* Styling for the highlighted text within the dropdown item */
#ac.p-highlight {
    font-weight: bold;
    color: var(--primary-color, #007bff); /* Use your theme's primary color or a specific color */
    background-color: var(--primary-lighter-color, #e9ecef); /* Optional: add a background color */
}

/* Optional: styling for the standard dropdown items for better visual appeal */
.autocomplete-item {
    padding: 10px 15px;
    cursor: pointer;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}



@font-face {
    font-family: 'Pixellari';
    src: url('../fonts/Pixellari.woff2') format('woff2'),
        url('../fonts/Pixellari.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}





body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Pixellari';

}


/* Overwrite primereact autocomplete styling */
.p-autocomplete-input {
    font-family: 'Pixellari';
    background: none;
    border-color: black;
}

/* Disable primereact box shadow on input */
.p-inputtext:focus {
  box-shadow: none ; 
}

.p-autocomplete-panel .p-autocomplete-item {
  font-family: 'Pixellari';
}